/*-----------------------------
            Preloader
----------------------------- */
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../images/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
/*------------------------------------------------------
            Login/Signup/Forgot password/Change password
----------------------------------------------------------*/
 #logo{
     margin-left: 530px;
     margin-top: 40px;
     position: absolute;
     padding: 25px;
 }
.bg-img{
    background-image: url("../images/pre-login/banner-with-overlay.jpg");
    /* min-height: 500px; */
    min-width: 100%;
    width: auto;
    height: 650px; 
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: absolute;  
}
.container{
    position: relative;
    text-align: center;
    margin-top: 130px;
    max-width: 500px;
    margin-bottom: 500px;
    height: 500px;  
    padding: 50px; 
    background-color: white;
    z-index: 2;
    margin-left:500px;
}
.container{
        margin-left: 500px;
    }

.btn{
    background-color: #6255a5;
    color:#fff;
    width: 400px;
    height: 30px;
    border-radius: 3px;
    font-style: "Open Sans",sans-serif;
    font-size:18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #f4c613;
    transition: linear 400ms;
    border: 1px yellow;
}
#login-01{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
    /* margin-top: 50px; */
}
#para{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 45px;
}
#email1{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    position: absolute;
    margin-left: -200px; 
    margin-top: -10px;
    margin-bottom: 5px;
}
#pd{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    position: absolute;
    margin-left: -200px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#FP{
    font-family: "Open Sans",sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    position: absolute;
    margin-left: 270px;
    margin-top: -20px;
}
#FP1:hover,
#FP1:focus{
    color: #f4c613;
    text-decoration: none;
    transition: linear 400ms ease-in-out;
    transform: translateY(-10px);
}
#FP1{
    transition: all 400ms ease-in-out;
}
input[type=email]{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
input[type=password]{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
input[type=password].sU{
    border: 1px solid #ccc;
}
.pw{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color:#FF3636;
    position: absolute;
    margin-left: -200px;
    margin-bottom: 40px;
    margin-top: 5px;
}
#exampleCheck1{
    border: 1px solid #d1d1d1;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: -10px;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-check-label{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 270px;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
}
#acc{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 50px;    
}
#acc-su{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    /* margin-bottom: 50px;  */
    margin-bottom: 10px;
}
#su{
    color: #6255a5;

}
#su:hover{
    color:#f4c613;
    text-decoration: none;
    transition: linear 400ms;
}
#suc{
    color: green;
}
.fa-check-circle{
    color: green;
    font-size: 16px;
    margin-right: 5px;
}
.sU{
    border: 1px solid blue;
}
.container-fp{
    position: relative;
    text-align: center;
    margin-top: 130px;
    max-width: 500px;
    margin-bottom: 500px;
    height: 350px;  
    padding: 50px; 
    background-color: white;
    z-index: 2;
    margin-left: 420px;
}
.container-sU{
    position: relative;
    text-align: center;
    margin-top: 130px;
    max-width: 500px;
    margin-bottom: 500px;
    height: 670px;  
    padding: 50px; 
    background-color: white;
    z-index: 1;
    margin-left:420px;
}
.bg-img-sU{
    background-image: url("../images/pre-login/banner-with-overlay.jpg");
    /* min-height: 500px; */
    min-width: 100%;
    width: 100%;
    height: 830px; 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* position: relative;   */
}
/*---------------------------
            Home Page
-----------------------------*/
body{
    width: 100%;
    overflow-x: hidden;
}
#home{
    background: none;
    height: 100%; 
    background:url("../images/Homepage/banner-with-overlay.jpg");
    height: 630px;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
}
#home-content {
    width: 100%;
    height: 100%;
    display: table;
}
#home-overlay {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}
#home-heading h1 {
    font-family: "Open Sans",sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    margin-top: 0;
    display: inline-block;
    margin-top: 200px;
    padding-left: 150px;
}
#home-text p {
    font-family: "Open Sans",sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 8px 0 30px 0;
    padding-left: 150px;
}
/*-----------------------
        Buttons
--------------------------*/
.btn-general {
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 150px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    font-family: "Open Sans",sans-serif;
    width: 172px;
    height: 30px;
    color: #fff;
    border-radius: 3px;
    border: 3px solid #fff;
    line-height: 19px;
    font-weight: 600;
    font-size: 18px;
    transition: all .5s;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
    text-decoration: none;
}
.btn2{
    background-color: #ffffff;
    width: 89px;
    height: 40px;
    border-radius: 5px;
    color: #6255a5;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 22px;
    transition: all 400ms;
    margin-top: 6px;
    font-weight: 700;
}
.btn2:hover{
    color: #ffffff;
    background-color:#6255a5;
    font-weight: 700;
    text-decoration: none;
}
/*-------------------------------
        Header
-----------------------------------*/
#logo-header{
    margin-left: 60px;
}    
.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 70px; 
}
.navbar-brand {
    padding: 13px 15px;
}
ul.navbar-nav > li > a {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    transition: all 400ms ease-in-out;
}
ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    background: none;
    color: #f4c613;
}
/* White Navigation */
.white-nav-top {
    background: #fff;
    height: 100px;
    box-shadow: 0 0 30px rgba(0,0,0,0.08);
    z-index: 2;
    margin: 0;
    padding: 10px 0;
}

.white-nav-top ul.navbar-nav > li > a {
    color: #333333;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    font-family: "Open Sans",sans-serif;
}

.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus {
    color: #6255a5;
    border-bottom: 5px solid #6255a5;
}
.white-nav-top .btn2{
    background: #6255a5;
    color: #ffffff;
    border: none;
    transition: all .5s ease-in-out;
}
.white-nav-top .btn2:hover{
    background: #ffffff;
    color: #6255a5;
    border:1px solid #6255a5;
}
/* second header*/
.header {
    background-color: #fff;
    padding: 30px 10px;
    height: 90px;
}
  
ul.nav2> li > a {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 20px;
    transition: all 400ms ease-in-out;
    float: right;
}
ul.nav2>li>a:hover{
    color: #6255a5;
    border-bottom: 5px solid #6255a5;
}
#logo-header-user{
    margin-left: 150px;
    float: left;
}
.btn2-user{
    background: #6255a5;
    color: #fff;
    border: none;
}
.btn2-user:hover{
    background:#f4c613;
    color: #fff;
}
.img-user{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -6px;
}
.img-user-dash{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px
}
.header-note{
    background: #fff;
    height: 100px;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.08);
    margin: 0;
}
/*-----------------------------
            Content Boxes
----------------------------- */
.content-box-lg {
    padding: 120px 0;
}

/*-------------------------------
        About
----------------------------------*/
.vertical-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-left: 150px;
}
#par1{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-bottom: 50px;
}
#par2{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
/*---About 2---*/
#about-02 {
    background-color: #f4f4f4;
}
.about-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    padding: 60px;
}
.about-item h3 {
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 30px;
    transition: all .5s ease-in-out;
}
.about-item p {
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
}
.btn-about{
    width: 172px;
    height: 50px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-left: 35px;
    margin: 0;
    margin-bottom: 60px;
    transition: all .5s ease-in-out;
}
.btn-about-02{
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-left: 29px;
    margin: 0;
    margin-bottom: 60px;
    transition: all .5s ease-in-out;
}
.about-img{
    width: 140px;
    height: 140px;
    padding: 30px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    margin-left: 290px;
    margin-bottom: 30px;
    background: #fff;
    transition: all .5s ease-in-out;
}
.about-img:hover{
    transform: translateY(-20px);
    background: #f4c613;
}
.about-item h3:hover{
    color: #f4c613;
    transform: translateY(-10px);
}
.about-item p:hover{
    color: #f4c613;
    transform: translateY(-10px);
}
.btn-about:hover{
    transform: translateY(-10px);
}
.btn-about-02:hover{
    transform: translateY(-10px);
}
/*----------------------------------
        Testimonials
------------------------------------*/
#testimonials{
    margin-bottom: 60px;
}
#testimonial-heading{
    margin-top: 60px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 38px;
    font-style: semibold;
    color: #6255a5;
    text-align: center;
    margin-bottom: 50px;
}
.container4{
    margin-left: 150px;
    /* width: 705px; */
    height: 500px;
    border-radius: 3px;
    /* box-shadow: 0 0 30px rgba(0,0,0,0.08); */
    background: #fff;
    margin-bottom: 60px;
    margin-right: 30px;
}
.test-img{
    margin-left: 40px;
    /* margin-bottom: 30px; */
    margin-top: 40px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.test-p{
    margin-left: 50px;
    /* margin-top: 50px;  */
}
.test h1{
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: semi-bold;
    line-height: 36px;
    color: #6455a5;
    margin-left: 20px;
    margin-bottom: 15px; 
    margin-top: 45px;
}
.test h5{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    margin-left: 20px;
    margin-bottom: 50px;
}
.test p{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    color: #333333;
    margin-bottom: 40px;
    margin-left: 40px;
}
.test{
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    border: 1px solid #fff;
    padding: 30px;
    /* margin-bottom: 60px; */
}
.test-03{
    margin-bottom: 60px;
}
.test-04{
    margin-bottom: 60px;
}
/*----------------------------
    Footer
---------------------------*/
#footer{
    margin-left: 150px;
    margin-bottom: 30px;
}
.social-list{
    border: 1px solid #6455a5;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
    background: #6455a5;
    text-align: center;
    margin-right: 10px;
}
.footer-p{
    margin-right: 750px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
}
.social-list:hover{
    transform: translateY(-20px);
    color: #fff;
    background: #6455a5;
}
/*-------------------------------
            User Profile
---------------------------------*/
/* .home-heading-user h1{
    margin-left: 100px;
    font-family: "Open Sans",sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    margin-top: 0;
    display: inline-block;
    margin-top: 200px;
    padding-left: 79px;
} */
#User-profile{
    background: none;
    height: 100%; 
    background:url("../images/Homepage/banner-with-overlay.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
}
#login-profile{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 40px;
    margin-top: 60px;
}
.img-user{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px; 
}
.heading-user{
    margin-left: 440px;
}
.container6 h1{
    margin-left: 150px;
}
.form-group-left{
    margin-left: 150px;
}
#exampleFormControlTextarea1{
    background-image: url(../images/User-Profile/upload.png);
    background-repeat: no-repeat;
    background-position: center;
}
.form-group-right{
    margin-top: 130px;
}
.custom-select-01{
    width: 100px;
    float: left;
}
#phone{
    width: 510px;
    float: right;
}
.container-right{
    margin-top: 130px;
}
.container-right-r{
    margin-top: 130px;
}
textarea::placeholder{
    background-position: center;
}
.btn-userP{
    background-color: #6255a5;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px; 
    margin-left: 150px;
    transition: all .5s ease-in-out;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 800;
}
.btn-userP:hover{
    background-color: #f4c613;
    color: #fff;
    border: none;
}
.btn-userPro{
    margin-left: 19px;
}
.user-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: semibold;
    line-height: 38px;
    color: #6255a5;
    margin-left: 79px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.label{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 10px;
}
.label-picture{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}
.test-user{
    padding:20px;
}
.user{
    margin-bottom: 30px;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    border: 1px solid #d1d1d1;
    height: 40px;
    border-radius: 3px;
}
.date{
    background-image: url(../images/User-Profile/calendar.png);
    background-repeat: no-repeat;
    background-position: right;
}
/*-------------------------------
    Email verification
--------------------------------*/
#logo-email{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container1-fp{
    height: 430px;
    padding: 30px;
    width: 600px;
    margin-top: 130px;
    background-color: white;
    z-index: 2;
    margin-left: 420px;
}
#body{
    background: black;
}
#heading-email{
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-style: semibold;
    line-height: 30px;
    color: #6255a5;
    margin-bottom: 30px;
    
}
.container-fp h5{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: semibold;
    line-height: 22px;
    color: #333333;
}
.para1-email{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.para2-email{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.btn-email{
    background-color: #6255a5;
    width: 540px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-style: semibold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
}
/*---------------------------------
        Search Notes
-----------------------------------*/
#search-01{
    position: relative;
}
#search-01 input{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#search-01 i{
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
}
.search-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 60px;
    /* margin-bottom: 30px; */
    margin-left: 150px;
}
.search{
    margin-left: 150px;
    margin-top: 30px;
    margin-left: 20px;
    background-image: url(../images/Front_images/images/search-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    
}
.search-note i{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    color: #8a8a8a;
    height: 40px;
    font-weight: 100;
}
.form-group-left .type{
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #d1d1d1;
    width: 190px;
    height: 50px;
    border-radius: 3px;
    margin-top: 100px;
}
.form-group-left .select{
    margin-left: -130px;
}
.search-note2{
    background: #f9f9f9;
    margin-left: 150px;
    height: 181px;
    width: 1300px;
    border-radius: 3px;
}
.thumb{
    padding: 10px;
}
.stars{
    margin-left: 30px;
}
.uni-img{
    width: 20px;
    height: 20px;
}
.page-img{
    width: 20px;
    height: 20px;
}
.cal-img{
    width: 20px;
    height: 20px;
}
.flag-img{
    width: 20px;
    height: 20px;
}
.search-row li{
    display: flex;
}
.stars .star1{
    color: #f5c613;
}
.stars .star2{
    color: #f4c613;
}
.stars .star-d{
    background: #fff;
}
.search-row{
    margin-left: 150px;
}
.search-spa .com{
    margin-bottom: 35px;
}
.search-row h4{
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: semibold;
    line-height: 26px;
    color: #6255a5;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.search-row p{
    font-family: "Open Sans",sans-serif;
    font-style: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    float: right;
}
.uni2{
    margin-top: 22px;
}
.search-row p.red{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #df3434;
}
.search-row i{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
    margin-bottom: 15px;
    float: left;
} 
.border{
    margin-bottom: 50px;
    border: 1px solid #d1d1d1;
    position: relative;
    height: 290px;
}
#search-heading1{
    margin-bottom: 30px;
}
.heading2{
    margin-bottom: 30px;
}
.container-search .img-1{
    width: 500px;
    height:300px;
}
.stars{
    float:left;
}
.stars i{
    height: 20px;
    margin-left: 2px;
    margin-top: 5px;
    float: left;
}
.star-2{
    margin-top: 5px;
}
.search-para2{
    margin-top: 6px;
    margin-right: 140px;
}
#search-para{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    float: right;
    margin-right: 140px;
}
.pagination{
    margin-left: 600px;
    box-shadow: none;
}
.pagination .left-angle{
    border: none;
    width: 8px;
    height: 25px;
    color: #333333;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 0;
}
.pagination .page{
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border: none;
    margin-right: 20px;
}
.pagination .right-angle{
    border: none;
    width: 8px;
    height: 25px;
    color: #333333;
    font-size: 20px;
    padding-top: 0;
}
.pagination .page-high{
    width: 34px;
    height: 34px;
    background-color: #6455a5;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 30px;
}
/*------------------------------------
            Add notes
-------------------------------------*/
#exampleFormControlTextarea2{
    background-image: url(../images/Add-notes/upload-note.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
#exampleFormControlTextarea3{
    border: 1px solid #d1d1d1;
    width: 1440px;
    height: 153px;
    border-radius: 3px;
}
.publish{
    background-color: #6255a5;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
    border: none;
}
.save{
    background-color: #6255a5;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px;
    border: none;
}
.test-user .desc{
    margin-top: 30px;
}
.addnote-radio{
    width: 750px;
}
.radio-right{
    display: flex;
}
.radio-left{
    margin-left: 0;
}
.up-note{
    width: 1110px;
}
/*--------------------------------------
            Note Details
----------------------------------------*/
.note-de-star{
    width: 15px;
    height: 15px;
    margin-top: -5px;
}
.note-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    font-style: semibold;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 130px;
}
.note-img{
    height: 400px;
    width: 240px;
    margin-left: 120px;
}
.heading-right{
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: semibold;
    line-height: 38px;
    color: #6255a5;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.note1 h5{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin-left: 60px;
}
.note1 p{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin-left: 60px;
}
.note-btn{
    background: #6255a5;
    width: 204px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
    margin-top: 40px;
}
.note-de .li{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    list-style: none;
    margin-bottom: 20px;
}
.number-page{
    margin-top: 43px;
}
.note-de .li1{
    margin-top: 100px;
}
.note-de span{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: semibold;
    color: #6255a5;
    margin-left: 300px;
    display: flex;
    margin-top: -24px;
}
/*
.note-de>ul>li{
    list-style: none;
}
*/
.sample-img{
    width: 500px;
}

.note-de .stars{
    margin-left: 1px;
}
.note-de .li-red{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #df3434;
}
.note-left-1{
    border: 1px solid #d1d1d1;
    width: 510px;
    height: 450px;
    border-radius: 3px;
    margin-left: 130px;
    margin-bottom: 30px;
}
.note-right-1{
    border: 1px solid #d1d1d1;
    width: 700px;
    height: 450px;
    border-radius: 3px;
}
.note-img-user{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.note-right-1 p{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin-left: -150px;
}
.notes-pre{
    width: 500px;
}
.note-right-1 .note-h1{
    margin-top: 30px;
}
.note-right-1 .stars{
    margin-left: -150px;
    font-size: 20px;
}
.note-right-1 h4{
    margin-left: -150px;
    margin-bottom: 10px;
}
.note-para{
    margin-top: 30px;
}
.note-right-1 hr{
    margin-left: -210px;
}
.note-right-1 .note-img1{
    margin-top: 25px;
}
.note-left-1 span{
    font-weight: 600;
}
.note-left-1 .page-no{
    background:rgba(0,0,0,0.6);    
    height: 30px;
    color: #fff;
    font-size: 15px;
}
.note-left-1 .page-no .one{
    background:black;
    width: 20px;
    font-size: 15px;
}
.note-heading-2{
    margin-left: 10px;
}
.form-check-label{
    margin-left: 10px;
}
.form-check-input{
    width: 42px;
    height: 42px;
    border: 1px solid #d1d1d1;
}
.radio-right{
    float: right;
    margin-top: -60px;
    margin-right: 250px;
}
.sell-price-label{
    margin-top: 42px;
}
.form-group-left label{
    margin-bottom: 10px;
}
.footer-note{
    margin-top: 1000px;
}
.footer-para{
    float: left;
}
.footer-social{
    float: right;
}
/*----------------------------------
            Thanks popup
---------------------------------------*/
.modal-dialog{
    margin-top: 100px;
}
.modal-body .thanks-img{
    width: 63px;
    height: 63px;
    margin-left: 250px;
}
.modal-body h4{
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-style: semibold;
    line-height: 30px;
    color: #6255a5;
}
.modal-body span{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}
.thanks-para{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-bottom: 30px;
}
.modal-content{
    height: 500px;
}
.modal-header{
    border-bottom: 0 none;
}
/*----------------------------
        Dashboard
------------------------------*/
.dash-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    font-style: semibold;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 130px;
}
.table-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    line-height: 20px;
    color: #6455a5;
    margin-top: 30px;
}
.first-heading{
    margin-top: 0;
}
.table-img{
    margin-top: 30px;
    margin-bottom: 5px;
}
.dash1{
    width: 235px;
    height: 151px;
    border:1px solid #d1d1d1;
    margin-left: 130px;
}
.dash2{
    width: 400px;
    height: 151px;
    border: 1px solid #d1d1d1;
}
.heading1{
    float: left;
    margin-top: 30px;
}
.heading2{
    float: right;
    margin-top: 20px;
}
.heading100{
    margin-left: 10px;
    margin-top: 40px;
}
.dash-para{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.dash-para1{
    margin-top: 50px;
    margin-left: -30px;
}
.dash-para2{
    margin-top: -10px;
    margin-left: 50px;
    float:right;
}
.delete{
    margin-left: 10px;
}
.down{
    width: 179px;
    height: 151px;
    border: 1px solid #d1d1d1;
}
.rej{
    width: 179px;
    height: 151px;
    border: 1px solid #d1d1d1;  
}
.req{
    width: 179px;
    height: 151px;
    border: 1px solid #d1d1d1;
}
.addnote{
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-left: 1199px;
    float: right;
}
.add-note{
    margin-top: -100px;
}
.search-container {
    float: right;
}
.dash-search{
    width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
    margin-right: -140px;
    background:url(../images/Dashboard/search-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.table{
    margin-left: 130px;
    border: 1px solid #d1d1d1;
    margin-top: 30px;
    border-collapse: separate;
    border-radius: 3px;
    margin-top: 140px;
}
thead{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    border-color: #d1d1d1;
}
th{
    height: 75px;
}
.table-dash{
    width: 1230px;
    height: 444px;
    border-radius: 3px;
}
th{
    border-color: #d1d1d1;
}
td{
    border-color: #d1d1d1;
    font-family: "Open Sans";
    font-size: 16px;
}
.shadow{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.header-note .dropdown .dash-content{
    height: 250px;
    margin-left: -50px;
}
.header-note .dropdown .dash-content .sold{
    background: #6455a5;
    color: #fff;
}
.header-note .dropdown .dash-content .logout{
    color: #6255a5;
}
.header-note .dropdown .dash-content a:hover{
    color: #ffff;
    background: #6255a5;
}
/*-----------------------------------------
            My Download
------------------------------------------*/
.table-down td{
    height: 75px;
}
.blue{
    color: #6455a5;
}
.down-eye{
    margin-left: 50px;
}
.table-down{
    width: 1350px;
}
.dots{
    margin-left: 50px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    z-index: 1;
    height: 150px;
    margin-left: -80px;
}
.sold{
    height: 50px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.star-img{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 30px;
    margin-bottom: 60px;
}
.star-heading{
    margin-top: 30px;
    margin-bottom: 40px;
}
.review-label{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.btn-review{
    margin-top: -10px;
    margin-left: -10px;
}
/*-----------------------------------
            FAQ
------------------------------------*/
.faq-heading{
    margin-left: 150px;
    margin-bottom: 150px;
}
.faq-heading2{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    font-style: semibold;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 130px;
}
.faq h4{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: semibold;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.faq p{
    font-family: "Open Sans",sans-serif;
    font-style: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-left: 10px;
}
.faq-border{
    width: 1210px;
    height: 120px;
    border: 1px solid #d1d1d1;
    margin-left: 130px;
    border-radius: 3px;
}
.minus-img{
    width: 16px;
    height: 2px;
    color: #a6a6a6;
    margin-left: 1180px;
    margin-top: -10px;
}
.btn-faq{
    width: 1210px;
    height: 60px;
    background: #f3f3f3;
    margin-left: 130px;
    text-align: center;
}
.btn-faq span{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    float: left;
}
#legal{
    float: left;
}
.add-img{
    margin-left: 1180px;
}
/*-----------------------------
            Contact
-------------------------------*/
.contact-heading{
    margin-left: 300px;
    margin-bottom: 150px;  
}
.get-in-touch2{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    font-style: semibold;
    margin-top: 60px;
    margin-left: 150px;
}
.get-in-touch h5{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-left: 150px;
    margin-bottom: 50px;
}
.comment{
    margin-top: 5px;
}
.btn-contact{
    margin-left: 130px;
}
.header-contact .btn-contact{
    background: #6455a5;
    color: #fff;
    margin-left: 10px; 
}
