/*-----------------------------
            Mobile menu
----------------------------- */
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 50px;
    color: #6255a5;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    /* hide mobile nav open btn*/
    display: none;
}

#mobile-nav {
    /* by default,mobile nav will be hidden with height 0%*/
    height: 0%;
    width: 1500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Open Sans",sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 50px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 50px;
    display: flex;
}

#mobile-nav a {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav .btn-addadmin-1{
    width: 200px;
    height: 100px;
    font-size: 35px;
}
#mobile-nav .btn2-mobile{
    width: 200px;
    font-size: 30px;
    height: 100px;
    background: #6455a5;
    color: #fff;
    border-radius: 5px;
}
#mobile-nav .nav img{
    width: 100px;
    height: 100px;
    display: flex;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}

/* Mobile nav Scroll Spy active state */
.white-nav-top #mobile-nav ul.nav > li.active > a {
    color: #f4c613;
    font-weight: 500;
}
/* ----------------------------
            Bootstrap media
---------------------------------*/
/*Add Admin*/
@media(min-width:769px) and (max-width:1024px)
{
    .header-admin1{
        width: 500px;
        position: absolute;
        top: 20px;
        right: -350px;
    }  
    .header-admin{
        width: 500px;
        position: absolute;
        top: 20px;
        right: -850px;
    }  
    .btn-addadmin-1{
        position: absolute;
        top: 5px;
        right: -105px;
    }
    .header-admin .font{
        font-size: 13px;
    }
    .header-admin1 .font{
        font-size: 13px;
    }
    .header-note .addadmin-logo{
        margin-right: -10px;
    }
    #footer{
        width: 850px;
    }
    .footer-p{
        float: left;
        width: 300px;
        margin-right: 850px;
    }
    #footer .footer2{
        width: 100%;
        position: absolute;
    }
}
@media(min-width:426px) and (max-width:768px){
    .header-admin1{
        width: 600px;
        position: absolute;
        top: 20px;
        right: -950px;
    }
    .header-admin{
        width: 600px;
        position: absolute;
        top: 20px;
        right: -950px;
    }
    .btn-addadmin-1{
        position: absolute;
        top: 5px;
        right: -105px;
    }
    .header-admin .font{
        font-size: 13px;
    }
    #footer{
        width: 600px;
    }
    .footer-p{
        float: left;
        width: 300px;
        margin-right: 850px;
    }
    #footer .footer2{
        width: 100%;
        position: absolute;
    }
}
@media(min-width:319px) and (max-widtH:425px){
    #mobile-nav-open-btn{
        display: block;
        right: 0;
        left: 850px;
        margin-top: -10px;
    }
    ul.nav2> li > a{
        padding:0;
        display: none;
    }
    .header-right ul.nav>li>form{
        display: none;
    }
    .header-right ul.nav>li>div{
        display: none;
    }
    .admin-heading{
        width: 500px;
    }
    .footer-p{
        float: left;
        width: 300px;
        margin-right: 150px;
    }
    #footer .footer2{
        width: 100%;
        position: absolute;
    }
    .down-container{
        margin-top: -130px;
    } 
    .dropdown-container {
        display: none;
        background-color: #fff;
        padding-left: 8px;
    }
    #mobile-nav .dropdown-container{
        width: 300px;
        height: 500px;
        margin-left: 100px;
    }
    .img-user:hover .dropdown-container{
        display: block;
    }
    #mobile-nav .dropdown-container a{
        color: black;
        text-decoration: none;
        margin-right: 30px;
        text-align: left;
        margin-bottom: 30px;
        display: flex;
    }
    #mobile-nav .dropdown-container-a{
        height: 100px;
        width: 300px;
        margin-left: 100px;
    }
}
/* dashboard */
@media(min-width:769px) and (max-width:1024px){
    .dashboard-admin{
        width: 1200px;
        float: left;
        margin-left: 150px;
    }
    .dash-admin-heading{
        margin-left: -290px;
    }
    .pagination{
        width: 1500px;
    }   
    .admin-dashboard{
        width: 1500px;
    }
}
@media(min-width:426px) and (max-width:768px){
    .pagination{
        width: 1000px;
    }
    .dashboard-admin{
        width: 1200px;
        float: left;
        margin-left: 150px;
    }
    .admin-dashboard{
        width: 1500px;
    }
    .pagination{
        width: 1500px;
    }   
    .dash-admin-heading{
        margin-left: 500px;
        float: left;
    }
}
@media(min-width:319px) and (max-widtH:425px){
    .pagination{
        width: 1000px;
    }
    .mobile-nav-open-btn{
        margin-left: 300px;
    }
    .dash-admin-heading{
        margin-left: 400px;
        float: left;
        width: 260px;
    }
    .dashboard-admin{
        float: left;
        margin-left: 150px;
    }
    .pub-heading{
        width: 300px;
    }
}
/*  Login  */

@media(max-width:1440px) {
    
    #logo{
        margin-left: 600px;
    }
    .container{
        margin-left: 500px;
    }
}
@media(max-width:1024px) {
    
    #logo{
        margin-left: 400px;
    }
    .container{
        margin-left: 300px;
    }
}
@media(max-width:768px) {
    
    #logo{
        margin-left: 230px;
    }
    .container{
        margin-left: 150px;
    }
}
@media(max-width:425px) {
    
    #logo{
        margin-left: 100px;
    }
    .container{
        margin-left: 0px;
    }
}
/* Forgot Screen */

@media(min-width:769px) and (max-width:1024px){
    .bg-img .container-fp{
        margin-left: 300px;
    }
}
@media(min-width:426px) and (max-width:768px){
    .bg-img .container-fp{
        margin-left: 200px;
    }
}
@media(max-width:425px){
    .bg-img .container-fp{
        margin-left: 0;
    }
}
/* Note detail */
@media(min-width:769px) and (max-width:1024px){
    .header-note-detail{
        width: 1150px;
    }
    .header-note{
        width: 1300px;
    }
    .note1{
        width: 650px;
    }
    .note1-r{
        width: 600px;
        margin-left: 120px;
    }
    .note1-left{
        width: 800px;
    }
    .note-right-1{
        width: 640px;
        margin-left: 150px;
    }
    #footer{
        width: 1100px;
    }
    .sample-img{
        width: 500px;
    }
    .note-heading-2{
        margin-left: 150px;
    }
    #footer{
        width: 1500px;
    }
    .header-note{
        width: 2500px;
    }
}
@media(min-width:426px) and (max-width:768px){
    .header-note-detail{
        width: 1450px;
    }
    .header-note{
        width: 1950px;
    }   
    .note1{
        width: 800px;
    }
    .note-img{
        width: 300px;
    }
    .note-btn{
        margin-top: -100px;
    }
    .note-de{
        margin-left: 130px;
    }
    .note-right-1{
        width: 800px;
        margin-left: 130px;
    }
    .note-heading-2{
        margin-left: 130px;
    }
    .note-left-1{
        width: 800px;
    }
    #note-details{
        width: 1200px;
    }
    #footer{
        width: 1500px;
    }
}
@media(min-width:320px) and (max-width:425px){
    .note1{
        width: 800px;
    }
    #right-note{
        width: 1000px;
        margin: 130px;
    }
    .note-right-1{
        margin-left: 130px;
    }   
    .note-heading-2{
        margin-left: 130px;
    }
    .header-note{
        box-shadow: none;
    }
    #footer{
        width: 1300px;
    }
}
/*My Download*/
@media(max-width:1024px){
    .managed-admin{
        width: 1350px;
    }
}
@media(min-width:426px) and (max-width:768px){
    .down-dash{
        width: 150%;
    } 
    .managed-admin{
        width: 1350px;
    }
    .dash2-admin{
        width: 1500px;
        margin-right: -350px;
    }
}
@media(min-width:319px) and (max-width:425px){
    .down-container{
        width: 50%;
    }
    .down-btn{
        margin-left: 950px;
        margin-top: -80px;
        position: absolute;
    }
    .reject-search{
        margin-left: 600px;
        margin-top: -80px;
        position: absolute;
    }
    .managed-admin{
        width: 550px;
    }
    .month{
        margin-top: -70px;
        margin-right: -900px;
    }
    .pub-heading{
        margin-bottom: -10px;
    }
}



/* Manage Administrator */
@media(min-width:320px) and (max-width:425px){
    .manage-ad{
        width: 500px;
    }
    .footer-ad{
        width: 2000px;
    }
}
 /* Member details */
 @media(min-width:769px) and (max-width:1024px){
     .member-detail{
         width: 1900px;
     }
 }
 @media(min-width:426px) and (max-width:768px){
     .member-detail{
         width: 1500px;
     }
 }
 @media(min-width:320px) and (max-width:425px){
     .member-detail{
         width: 1400px;
     }
 }

 /*downloaded*/
 @media(min-width:769px) and (max-width:1024px){
    
 }
 @media(min-width:320px) and (max-width:425px){
     .admin-select1{
        margin-left: 150px;  
     }
}